/*------------------------------BASE ANIMATIONS----------------------------*/
@keyframes slide-up {
    from {
        transform: translateY(100px);
    }
    to {
        transform: translateY(0px);
    }
}
@keyframes slide-right {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*-------------------------OLD BROWSERS SUPPORT-----------------------------*/

@supports (animation-timeline: view()) {
    .slide-up-1 {
        animation: slide-up linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 30%;
    }
    .slide-right-1 {
        animation: slide-right linear both;
        animation-timeline: view();
        animation-range: entry 10% cover 20%;
    }
    .slide-right-2 {
        animation: slide-right linear both;
        animation-timeline: view();
        animation-range: entry 30% cover 50%;
    }
}